<div class="wrapper">

  <div class="sidebar" data-background-color="white" data-active-color="danger">
      <sidebar-cmp></sidebar-cmp>
  </div>

  <div class="main-panel">
      <navbar-cmp></navbar-cmp>

      <div class="content">
          
        <div class="col-sm-9">
          <router-outlet></router-outlet>
        </div>
        <div class="col-sm-3">
          <router-outlet name="aux"></router-outlet>
        </div>
      </div>

      <div *ngIf="loading" style="background-color: palevioletred; color: yellow; font-size:20px; font-weight: bold">
        Bitte warten ...
      </div>

  </div>

</div>
